node_modules
server/node_modules
dist
server/dist
.DS_Store
*.log
coverage
server/coverage
server/storage
server/prod.db
prod.db
.env
.idea
.vscode
*.sqlite
*.sqlite-journal
npm-debug.log*
yarn-debug.log*
yarn-error.log*
storage